<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/showStyle.css">
</head>
<body>

    <div>
        
        <div class="innerDiv">

            <a href="/" class="readMore"> Go back.</a>
            
            <h1> <%=`${fileName}` %> </h1>

            <p>
                <%=`${fileData}` %>
            </p>

        </div>

    </div>

</body>
</html>